@model IEnumerable<ProductCategoryManagement.Models.Product>

@{
    ViewBag.Title = "ShowProduct";
}

<style>
    .image {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
    }
</style>
<body class="image">
    <h2>ShowProduct</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                    </tr>
                }

            </table>
            <div>
                @Html.ActionLink("Go Back", "CategoryList", "Category", null, new { @class = "btn btn-primary" })
            </div>
    </body>