@model IEnumerable<ProductCategoryManagement.Models.Category>

@{
    ViewBag.Title = "CategoryList";
}

<style>
    .image {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
    }
</style>
<body class="image">

    <h2>CategoryList</h2>

    <p>
        @Html.ActionLink("Create New", "AddCategory",null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Activities</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @{
                    if (item.IsActivate == true)
                    {
                                <td>
                                    @Html.ActionLink("ShowProduct", "ShowProduct", "Product", new { id = item.CategoryId }, new { @class = "btn btn-success" }) |
                                    @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }, new { @class = "btn btn-warning" }) |
                                    @Html.ActionLink("Details", "CategoryDetails", new { id = item.CategoryId }, new { @class = "btn btn-primary" }) |
                                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
                                </td>
                    }
                    else
                    {
                        <td>Category Is Deactivated</td>
                    }
                }

                <td>@(item.IsActivate ? "Active" : "Inactive")</td>
                <td>
                    @if (item.IsActivate)
                    {
                        @Html.ActionLink("Deactivate", "DeactivateCategory", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "ActivateCategory", new { id = item.CategoryId }, new { @class = "btn btn-success" })
                    }
                </td>
            </tr>
        }

    </table>
    <div class="pagination">
        @if (ViewBag.TotalPages > 1)
        {

        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            var isActive = (i == ViewBag.CurrentPage) ? "active" : "";
                <a href="@Url.Action("CategoryList", "Category", new { page = i })" class="btn btn-primary">@i</a>
            }
        }
    </div>
</body>