@model IEnumerable<ProductCategoryManagement.Models.Category>

@{
    ViewBag.Title = "CategoryList";
}

<style>
    .image {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
    }
</style>
<body class="image">

    <h2>CategoryList</h2>

    <p>
        @Html.ActionLink("Create New", "AddCategory")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Activities</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }) |
                    @Html.ActionLink("Details", "CategoryDetails", new { id = item.CategoryId }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })
                </td>
            </tr>
        }

    </table>
    </body>